<!-- Application Modal -->
<div class="modal fade no-scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-title text-center">
          <div class="benefit-icon fa fa-rocket apply-icon"></div>
          <div class="apply-title-2">Accelerate Your Business</div>
        </div>
        <div class="form-container mb40">
          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
            onload="if(submitted) {window.location='html/confirmation.html';}">
          </iframe>

          <form action="https://docs.google.com/a/tradecrafted.com/forms/d/1p6ZANit-BHkJSD4sY_TS5FGmlKA0OFDEmRbqtvS_pi4/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" id="ss-form">
            <div class="form-group">
              <label for="entry_296855607">Email address</label>
              <input type="email" name="entry.296855607" value="" class="apply-input form-control" id="entry_296855607" dir="auto" aria-label="Email  Must be a valid email address" title="Must be a valid email address">
              <!-- <div class="error-message" id="1755256349_errorMessage">Must be a valid email address</div> -->
              <!-- <div class="required-message">This is a required question</div> -->
            </div>

            <div class="form-group">
              <label for="entry_1404544465">Full Name</label>
              <input type="text" name="entry.1404544465" value="" class="apply-input form-control" id="entry_1404544465" dir="auto" aria-label="Name  " title="">
              <!-- <div class="error-message" id="1755256349_errorMessage">Must be a valid email address</div> -->
              <!-- <div class="required-message">This is a required question</div> -->
            </div>

            <div class="form-group">
              <label for="entry_988812829">Phone</label>
              <input type="text" name="entry.988812829" value="" class="apply-input form-control" id="entry_988812829" dir="auto" aria-label="Phone  " title="">
              <!-- <div class="error-message" id="1755256349_errorMessage">Must be a valid email address</div> -->
              <!-- <div class="required-message">This is a required question</div> -->
            </div>

            <input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-lg btn-primary">
            <input type="hidden" name="draftResponse" value="[,,&quot;-2581062494538636140&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fvv" value="0">
            <input type="hidden" name="fbzx" value="-2581062494538636140">
          </form>
        </div>

        <script type="text/javascript" src="../css/3675641127-formviewer_prd.js"></script>
        <script type="text/javascript">H5F.setup(document.getElementById('ss-form'));_initFormViewer("[100,,[[[296855607,[[2,102,,\x22\x22]\n]\n]\n]\n]\n]\n");</script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
