<!-- FOOTER
================================= -->
<section id="footer" class="footer-section section">

  <div class="container">

    <h2 class="footer-logo">
      {{ site.company-name }}
      <!-- <img src="images/logos/footer-logo.png" srcset="images/logos/footer-logo@2x.png 2x" alt="Drew"> -->
    </h2>

    <p>
      855 Front Street, San Francisco, CA 94111
    </p>

    408 666 4411

    <div class="footer-socmed">
<!-- 				<a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
      <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
      <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
      <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a> -->
    </div>

    <div class="footer-copyright">
      &copy; 2015 {{ site.company-name }}
    </div>
  </div>
</section>
</div>
