<!-- HEADER
================================= -->
<header id="header" class="header-section section section-dark navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">

      <!-- RESPONSIVE MENU BUTTON -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- HEADER LOGO -->
      <a class="navbar-logo navbar-brand anchor-link" href="http://www.captivatere.com">
        {{ site.company-name }}
        <!-- <img src="images/logos/header-logo.png" srcset="images/logos/header-logo@2x.png 2x" alt="Drew"> -->
        <!-- <img src="images/logos/captivate-header-logo.png"alt="logo"> -->
      </a>
    </div>

    <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">
      <!-- NAVIGATION LINKS -->
      <ul id="header-nav" class="nav navbar-nav">
        <li><a href="#hero" class="hidden">Top</a></li>
        <li><a href="#details">How it Works</a></li>
        <li><a href="#benefits">Benefits</a></li>

        <!-- DROPDOWN MENU -->
        <li class="dropdown dropdown-hover">
          <a href="#" class="dropdown-toggle external" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#testimonial-slider" class="anchor-link external">Testimonials</a></li>
            <li><a href="#team" class="anchor-link external">Team</a></li>
            <li><a href="#contact-maps" class="anchor-link external">Contact Us</a></li>
          </ul>
        </li>

        <!-- HEADER ACTION BUTTON -->
        <li class="header-action-button"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Apply Now</button></li>
      </ul>
    </nav>
  </div>
</header>
